<% layout('layouts/boilerplate') %>

<div class="container my-4">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3>Create New Workout</h3>
                </div>
                <div class="card-body">
                    <%- include('../partials/alerts') %>
                    
                    <form action="/workouts/create" method="POST" id="workoutForm">
                        <div class="mb-3">
                            <label for="workoutName" class="form-label">Workout Name</label>
                            <input type="text" class="form-control" id="workoutName" name="name" required>
                        </div>
                        
                        <h4>Exercises</h4>
                        <div id="exercisesList"></div>
                        
                        <button type="button" class=" border-none btn mb-3" onclick="addExercise()">
                            Add Exercise
                        </button>
                        
                        <div class="d-flex gap-2">
                            <button type="submit" class="btn border-none">Create Workout</button>
                            <a href="/workouts" class="btn border-none">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>