<% layout('layouts/boilerplate') %>

<div class="container my-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="mb-4">Alert Test Page</h1>
            
            <%- include('../partials/alerts') %>
            
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Test Messages</h5>
                    <p>This page is for testing the alert messages. You should see different types of alerts above.</p>
                    
                    <div class="mt-4">
                        <h6>Available alerts on this page:</h6>
                        <ul>
                            <li>Error alert (red)</li>
                            <li>Success alert (green)</li>
                            <li>Info alert (blue)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
